<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAdd()" #f="ngForm" >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control"  [ngStyle]="!name.valid&&name.touched?{'border-color':'red','border-style':'solid'}:{}" id="name" ngModel name="name" required 
                    #name='ngModel'>
                </div>
                <div class="col-sm-2">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control" 
                    ngModel 
                    name="amount" 
                    required 
                    pattern="^[1-9]+[0-9]*$"
                    [ngStyle]="!amount.valid&&amount.touched?{'border-color':'red','border-style':'solid'}:{}" 
                    #amount="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-success" type="submit" [disabled]="f.invalid">{{editMode?"Update":"Add"}}</button>
                    
                    <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf='editMode'>Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
